body {
    margin: 0;
    padding: 0;
    border:1px solid #aaa;
}

header {
    height: 5vh;
    background: #777;
}

.box_1 {
    display: grid;
}

/* Subbox1 */
.subbox1 {
    background: #fff;
    height: fit-content;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.subbox1 > .article1 {
    background: url(/Logo-UPI-Universitas-Pendidikan-Indonesia-Original-PNG.png);
    background-size: contain;
    width: 5em;
    height: 5em;
    margin: 1em;
    align-self: center;
}

/* Subbox2 */
.subbox2 {
    height: 20em;
    background: #aaa;
    display: flex;
    flex-flow: column;
}

/* Subbox3 */
.subbox3 {
    background: #fff;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.subbox3 > .article1 {
    background: #bbb;
    width: 25em;
    height: 2em;
    margin: 1em;
    align-self: center;
}


.subbox3 > .article2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.subbox3 > .article2 > .subarticle1 {
    background: #bbb;
    width: 28em;
    height: 15em;
    margin: 0 1em 1em 1em;
}

.subbox3 > .article2 > .subarticle2 {
    background: #bbb;
    width: 28em;
    height: 15em;
    margin: 0 1em 1em 1em;
}

/* Subbox4 */
.subbox4 {
    background: #777;
    height: fit-content;
    border: 1px solid #777;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.subbox4 > .article1 {
    background: #fff;
    width: 10em;
    height: 15em;
    margin: 1em;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.subbox4 > .article2 {
    background: #fff;
    width: 10em;
    height: 15em;
    margin: 1em;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.subbox4 > .article3 {
    background: #fff;
    width: 10em;
    height: 15em;
    margin: 1em;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.subarticle1 {
    background-color: #bbb;
    height: 2em;
    margin: 0 1em 1em 1em;
    color: black;
}

.subarticle2 {
    background-color: #bbb;
    height: 4em;
    margin: 0 1em 1em 1em;
    color: black;
}

/* Subbox5 */
.subbox5 {
    background: #fff;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.subbox5 > .article1 {
    background: #bbb;
    width: 25em;
    height: 2em;
    margin: 1em;
    align-self: center;
}

.subbox5 > .article2 {
    background: #bbb;
    width: 35em;
    height: 15em;
    margin: 0 1em 1em 1em;
    align-self: center;
}

/* Sububox6 */
.subbox6 {
    background: #fff;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.subbox6 > .article1 {
    display: flex;
    flex-flow: column;
    background: #aaa;
    padding-top: 1em;
}

.subbox6 > .article1 > .subarticle1 {
    background: #fff;
    width: 25em;
    height: 2em;
    margin: 0 1em 1em 1em;
    align-self: center;
}

.subbox6 > .article1 > .subarticle2 {
    background: #fff;
    width: 28em;
    height: 15em;
    margin: 0 1em 1em 1em;
    align-self: center;
}

.subbox6 > .article2 {
    display: flex;
    flex-flow: column;
    background: #777;
    padding-top: 1em;
}

.subbox6 > .article2 > .subarticle1 {
    background: #fff;
    width: 25em;
    height: 2em;
    margin: 0 1em 1em 1em;
    align-self: center;
}

.subbox6 > .article2 > .subarticle2 {
    background: #fff;
    width: 28em;
    height: 15em;
    margin: 0 1em 1em 1em;
    align-self: center;
}

/* Footer */
footer {
    height: 5vh;
    background: #777;
    margin-top: 1em;
}